.App {
  text-align: center;
}

button {
  margin-left: 8px;
}

p {
  margin: 0;
}

input, button {
  font-family: 'Raleway', sans-serif;
}

input[type="text"], textarea {
  background-color: white;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.08);
  line-height:2;
  outline: 0;
  padding-left: 8px;
}

ul {
  padding: 0;
}

li {
  background-color: rgba(0,0,0,.01);
  font-size: 1.25em;
  list-style-type: none;
  margin: 8px auto;
  padding: 0 0 2px 8px;
  text-align: left;
  width: 95%;
}

li:nth-child(even) {
  background-color: rgba(0,0,0,.05)
}