@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway');

body {
  background-image: url("http://bit.ly/2H62gjk");
  background-repeat: no-repeat;
  margin:0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Playfair Display', serif;
}
